header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #93ad1859;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header div img{
  width: 35%;
}
.header-link-employees{
  text-decoration: none;
  color: black;
  background: #ede9e9;
  padding: 1%;
  border-radius: 15px;
}

footer{ 
  background-color: #93ad1859; 
  display: flex;
  justify-content: center;
}